body {
  background-color: rgb(9, 16, 46);
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.493);
  overflow-x: hidden;
  padding-top: 20px;
  background: transparent;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fca401;
  display: block;
}

.sidenav a:hover {
  color: #ffffff;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 12px;
  }
}
a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}

/*cards for blog*/

.card {
  box-shadow: 10px 8px 0 rgb(3, 156, 36);
  transition: 0.3s;
  width: 70%;
  margin: 200px;
  margin-top: 10px;
}

.card:hover {
  box-shadow: 10px 16px 0 rgba(133, 182, 88, 0.993);
}

.container {
  padding: 2px 20px;
}
