body {
  background-color: rgb(9, 16, 46);
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.486);
  overflow-x: hidden;
  padding-top: 20px;
  background: transparent;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fca401;
  display: block;
}

.sidenav a:hover {
  color: #f5f7f6;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

a.active,
a:hover {
  background: #1b9bff;
  transition: 0.5s;
}

/*form*/
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 1px;
  resize: verticle;
}

.container {
  border-radius: px;
  background-color: rgba(2, 194, 252, 0.568);
}
input[type="submit"] {
  width: 10em;
  height: 3em;
}
.submit {
  transition: 0.4s;
}
.submit:hover {
  background: rgba(16, 188, 194, 0.452);
  transition: 0.5s;
  border-style: dotted;
  border-color: rgba(5, 171, 177, 0);
}
